/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @media only screen and (max-width : 992px) {
  .parallax-container .section {
    /* position: absolute;
    top: 40%; */
  }
  #index-banner .section {
    /* top: 40%; */
    padding-top: 30%;
  }
  /* .logo {
    position: relative;
  }
  .logo img {
    position: relative;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
  } */
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    /* top: 40%; */
    padding-top: 30%;
  }
}

html {
  background-color: rgb(24,54,105);
}

nav ul a,
nav .brand-logo {
  color: #fff;
  /* padding-top: 0.5em; */
}

.side-nav li > a {
  color: #fff;
}
.side-nav {
  background-color: #757575;
  text-transform: uppercase;
  font-size: 1.25em !important;
}

nav {
  position: absolute;
  overflow: visible !important;
  box-shadow: none;
  -webkit box-shadow: none;
  color: white;
  z-index: 1 !important;
}

nav ul a {
  font-size: 1.25em !important;
  text-transform: uppercase;
}

nav ul {
  margin: 30px 0px;
}

nav .brand-logo {
  padding-top: 0.5em;
}

.bold_nav {
  border: white;
  border-width: 1.25px;
  border-style: solid;
  border-radius: 8px;
}

p {
  line-height: 2rem;
  color: rgba(255,255,255,.9);
  font-size: 16px;
}

h4,h5 {
  color: #ffffff;
}

.button-collapse {
  color: #26a69a;
}

#index-banner .container {
  margin-top: 12vh;
}

#index-banner {
  height: 100vh;
  position: relative;
}

.btn {
  display: inline-block;
}

.parallax img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.feature-block {
  background: rgb(24,54,105);
}

.slick-slide img {
  width: 50vw;
  display: inline-block !important;
}
.slick-dots li button:before {
  color: white !important;
  font-size: 10px !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo {
  position: relative;
}
.logo img {
  max-width: 150px;
  filter: brightness(0) invert(1);
  -webit-filter: brightness(0) invert(1);
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}
.logo-small img {
  max-width: 150px;
  filter: brightness(0) invert(1);
  -webit-filter: brightness(0) invert(1);
}

.social-icons i {
  color: #fff;
}