<!-- Start Custom SEO -->
<title>{%if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
{% if page.author %}<meta name="author" content="{{ page.author }}" />{% endif %}
<meta property="og:locale" content="en_US" />
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
<link rel="canonical" data-proofer-ignore href="{{ site.url }}{{ page.url }}" />
<meta property="og:url" data-proofer-ignore content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="dashai - YOUR DevOps Dashboard" />
{% if page.is_post %}
{% capture imagePath %}{{ page.slug }}/{{ page.image }}{% endcapture %}
{% if page.url contains "our-blog" %}
<meta property="og:image" content="{{ site.url }}/assets/posts/{{ imagePath }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/assets/events/{{ imagePath }}" />
{% endif %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% elsif page.image %}
<meta property="og:image" content="{{ site.url }}/assets/banners/{{ page.image }}" />
{% endif %}
<script type="application/ld+json">
{"name":{% if page.is_post %}null{% else %}"{{ site.title }}"{% endif %},"description":"{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}","author":{% if page.author %}{"@type":"Person","name":"{{ page.author }}"}{% else %}null{% endif %},"@type":{% if page.is_post %}"BlogPosting"{% else %}"WebSite"{% endif %},"url":"{{ page.url }}","publisher":null,"image":{% if page.is_post %}"{{ site.url }}/assets/banners/{{ page.image }}"{% else %}null{% endif %},"headline":"{{ page.title }}","dateModified":{% if page.date %}"{{ page.date | date_to_xmlschema }}"{% endif %},"datePublished":{% if page.date %}"{{ page.date | date_to_xmlschema }}"{% endif %},"sameAs":null,"mainEntityOfPage":{% if page.is_post %}{"@type":"WebPage","@id":"{{ site.url }}{{ page.url }}"}{% endif %},"@context":"http://schema.org"}
</script>
<!-- End Custom SEO -->
