<footer class="page-footer grey darken-1">
    <div class="container">
      <div class="row">
          <div class="social-icons">
              <a href="https://github.com/dashai/dashai">
                  <i class="fa fa-github fa-3x"></i></a>
              <a href="https://twitter.com/yourdashai">
                  <i class="fa fa-twitter fa-3x"></i></a>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p>Arctiq Inc. ©&nbsp;{{ site.time | date: '%Y' }}</p>
      </div>
    </div>
</footer>
