* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body {
    background-image: url("cockpit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #183669;
}
h1 {
    color: rgb(255,255,255);
    font-family: "Montserrat";
    font-size: 5em;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0em;
    margin-bottom: 0.5em
}
h2 {
    color: rgba(255,255,255,0.8);
    font-family: "Montserrat";
    font-size: 3em;
    line-height: 1.4em;
    font-weight: normal;
    letter-spacing: 0em;
    margin-bottom: 0.5em
}
.heading-text {
    position: absolute;
    top: 35%;
    left: 20%;
}
.dashailogo img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 12%;
}
.arctiqlogo img {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 20%;
    top: 10%;
}
.button {
    background-color: white;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Montserrat";
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(24,54,105);
    color: white;
}
.cright {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 0;
    color: rgba(255,255,255,0.8);
    font-family: "Montserrat";
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
    letter-spacing: 0em;
    margin-bottom: 0.5em
}
a {
    color: white;
}
